<h1>Gib deinen Namen an, um dich für den nächsten Clean-Up anzumelden</h1>

<%= form_for @participation, url: clean_up_anmeldung_path do |f| %>
  <%= f.text_field :name %>
  <%= f.submit "Eintragen" %>
<% end %>