<h1>Gib eine oder mehrere Namen an, die bei dem nächsten clean-up dabei sein sollen:</h1>

<%= form_with model: @participation, local: true do |f| %>
  <%= f.text_field :name %>
  <%= f.submit "Eintragen" %>
<% end %>